
<h1>Welome to my page</h1>


<%# @blogs.each do |b| %>
<!-- <div><%#= b.content %></div> -->
<%# end %>

<h4>Current User:<h4>
<div style='color: red'><a href='/users/<%=@user.id%>/edit'><%= @user.username %></a></div>

<h4>Current posts</h4>
<% @blogs.each do |b| %>
<a href='/blog/<%= b.id %>'><%=b. title %></a>
<%= b.content %>
<%= b.category %>

<% end %>


<h3>Create blog</h3>

<form method='post' action='/create_blog'>
<input type='text' name='title' placeholder='title'>
<input type='text' name='content' placeholder='content'>
<input type='text' name='category' placeholder='category'>
<input type='submit' >

</form>