creat<h2><%= @subject.topic.capitalize %></h2>

List of Rooms:

<% @subject_rooms.each do |s| %>
	<div>Room: <%= s.number %></div>
<% end %>

<h3>Assign a room:</h3>

<% @rooms.each do |room| %>

<%= form_for :room, url: { action: 'assign', controller: 'rooms' }, :authenticity_token => true do |r| %>
    <%= hidden_field_tag "id", @subject.id %>    
    <%= hidden_field_tag "roomid", room.id %>
    <%= room.number  %>
<%= r.submit %>

<% end %>
<% end %>












