
<h2><%= @whatever.title %></h2>

<p class='content'><%=@whatever.content%></p>
<hr>
<h3>Add your story to the story!</h3>
<div class='adding'>


	<%= form_for(:article, :url => {:action => 'update', :id => @whatever.id}, method: :patch) do |f| %>
	<%= f.text_area :content, placeholder: @whatever.content %>
	
	<br>
	<%= f.submit 'add', :class =>'submit' %>
	<% end %>
</div>

