<h1>New Author</h1>

<%= form_for  @author do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.label :country %>
  <%= f.text_field :country %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', authors_path %>