<h2>ALl users</h2>

<%@users.each do |u| %>

<div><%= u.name %></div>
<% end %>


<h2>Login</h2>



<!-- form_tag takes an url as an argument -->
<%= form_tag(signin_path) do %>
  
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  

    <%= label_tag :password %>
    <%= password_field_tag :password %>
    
    <%= submit_tag 'Sign in' %>
<% end %>