<h1><%= @book.title %></h1>
<p>Author: <%= link_to @book.author.name, @book.author %></p>

<div>
  <h3>Tags</h3>
  <ul>
    <% @book.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Delete', @book, method: 'delete', local: true %> - 

<%= link_to 'Back', @book.author %>
