<h1 style='text-align: center; margin: 20px 0'>List of all Posts</h1>

<div class='post-list'>
<% @posts.each do |p| %>
<h4 style='color: black' >Title:</h4>
<h5><a href='/posts/<%=p.id %>'><%= p.title %></a></h5>
<h4 style='color: black'>Text</h4>
<h5><%= p.body %></h5>
<br>
<h5><%=p.created_at%></h5>
<h5><%= p.user.email %></h5>
<div style='text-align: center; color: teal'>******</div>

<% end %>
</div>

<hr>
<div id='box' style='width: 100px; height:100px; background-color:red'></div>